body {
  min-height: 40000px;
}

.var {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.var img {
  width: 200px;
  height: 200px;
}

.var .van2 {
  font-size: 18px;
  margin-left: 200px !important;
  font-weight: 400;
  letter-spacing: 0.0625em;
  font-family: "Montserrat" -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.var .van2 a {
  color: white;
}

.var .van2 a:hover {
  color: gold;
}

.masthead {
  background-image: url(images/header-bg.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
}

.masthead .masthead-subheading {
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.masthead .masthead-heading {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 72px;
  line-height: 72px;
  font-weight: 700;
}

.masthead a {
  width: 250px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  font-weight: bolder;
}

.txt {
  margin-top: 150px !important;
  padding-top: 50px !important;
}

.txt h2 {
  font-size: 45px;
  text-transform: uppercase !important;
  font-weight: 600;
}

.txt h3 {
  font-size: 20px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 400;
  margin-top: 30px;
}

.icons {
  margin-top: 100px;
}

.icons p {
  font-weight: 500;
  line-height: 28px;
  color: #6c757d;
}

.icons h4 {
  font-size: 24px;
  font-weight: 700;
}

.icons .icon2 {
  position: relative;
}

.icons .icon2 .icon {
  font-size: 150px;
}

.icons .icon1 {
  position: absolute;
  font-size: 80px;
  left: 128px;
  top: 35px;
  color: white;
}

.txt1 {
  margin-top: 200px !important;
  padding-top: 50px;
}

.txt1 h2 {
  font-size: 45px;
  text-transform: uppercase !important;
  font-weight: bolder;
}

.txt1 h3 {
  font-size: 20px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  font-weight: 400;
}

.ima {
  margin-top: 50px;
  padding-bottom: 50px;
}

.ima img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ima h2 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ima h3 {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: italic;
  color: #6c757d;
  font-size: 15px;
}

.imgagee img {
  border: 6px solid #dad9d9;
  border-radius: 50%;
}

.icons2 h4 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.icons2 p {
  font-weight: 700;
}

.icons2 img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  border: 8px solid #dbdada;
}
/*# sourceMappingURL=main.css.map */